{% import "shared-macros.jinja" as shared_macros %}

{% extends "base.html" %}



{% block head %}

{{ super() }}

<title>{{ doc_title }}</title>

<style type="text/css">
:root {
{% if prev_scope or next_scope %}
  --scope-nav-height: calc(24px + 24px);
{% else %}
  --scope-nav-height: 0px;
{% endif %}
}

.top-toolbar {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
}
body > .spacer-下 {
  height: 640px;
}

/* quarter scopes */
body > .scope {
  /* TODO: this is temporary, should be applied to each element individually */
  padding-left: var(--default-left-right-margin);
  padding-right: var(--default-left-right-margin);
}
body > .scope > .spacer-上 {
  height: 12px;
}
body > .scope > .scope-header-container {
  position: sticky;
  top: calc(var(--scope-nav-height));
  height: 37px;
  z-index: 3;
  background-color: var(--default-bg-color);

  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: calc(36px - 8px - 12px); /* TODO: what is this */
}
body > .scope > .scope-header-container > .scope-header {
  font-size: 36px;
  line-height: 36px;
  height: 37px;
  x-disabled-border-bottom: 1pt solid dimgrey;
  padding-bottom: 8px;
}
body > .scope > .scope-header-container > .scope-header::before {
  content: "# ";
}

/* week scope */
body > .scope > .scope > .scope-header-container {
  position: sticky;
  top: calc(var(--scope-nav-height)
    + 16px + 37px + 12px /* quarter scope */);
  height: 33px;
  z-index: 2;
  background-color: var(--default-bg-color);

  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: calc(32px - 8px - 12px); /* TODO: what is this */
}
body > .scope > .scope > .scope-header-container > .scope-header {
  font-size: 24px;
  line-height: 24px;
  height: 25px;
  color: black;
  border-bottom: 1px solid dimgrey;
  padding-bottom: 8px;
}
body > .scope > .scope > .scope-header-container > .scope-header::before {
  content: "## ";
}

/* day scope */
body > .scope > .scope > .scope {
  /* draw a nice box around the entire thing */
  padding-top: 0.5em;
  padding-left: 0.8em;
  x-disabled-border: 1px solid #ddd;
  margin-bottom: 0.5em;
  padding-bottom: 1.0em;
}
body > .scope > .scope > .scope > .scope-header-container {
  position: sticky;
  top: calc(var(--scope-nav-height)
    + 16px + 37px + 12px /* quarter scope */
    + 16px + 33px + 12px /* week scope */);
  z-index: 1;
  background-color: var(--default-bg-color);
  font-weight: 600;

  margin-top: calc(32px - 12px);
  padding-top: 12px;
  padding-bottom: 12px;
}
body > .scope > .scope > .scope > .scope-header-container > .scope-header::before {
  content: "### ";
}

/* title and domain formatting */
.title-and-domain {
  display: flex;
  flow-direction: row;
}
.title-and-domain > .title {
  flex: 1 4 auto;
}
.title-and-domain > .domain {
  flex: 1 2 auto;
  padding-left: 1.3rem;
  font-size: 80%;
  text-align: right;

  /* next two lines position the sub-div that has actual text */
  display: flex;
  flex-direction: column-reverse;
}
/* generic domain styling */
.domain::before {
  content: " "; /* these are nbsp's */
}
.domain, .domain a:link {
  color: #aaa;
}
.domain a:hover {
  color: blue;
}

/* summary block styling */
.summaries {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.0em;
}
.summaries > .row {
  display: flex;
  flow-direction: row;
}
.summaries > .row > .time-scope {
  flex: none;
  padding-left: 0.4rem;
  padding-right: 1.2rem;
}
.summaries > .row > .time-scope a:link {
  color: #c0c0c0;
}
.summaries > .row > .time-scope a:hover {
  color: blue;
}
.summaries > .row > .content-vertical {
  flex: 4 2 auto;
  min-width: 40%;
}
.summaries > .row > .content-vertical > .desc {
  color: black;
  white-space: pre-wrap;
}

/* event block styling */
.events {
  overflow: auto;
  background-color: lemonchiffon;
}

/* individual note styling */
.scope details {
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}
details > .desc {
  padding: 0.5em;
  background-color: rgb(246, 246, 246);
  font-size: 70%;

  -webkit-transform: translate3d(0, 0, 0);
}

.note-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  background: var(--default-bg-color);
}

{{ shared_macros.note_edit_css('note', ['edit', 'json']) }}

</style>

<script>

{{ shared_macros.note_edit_js|safe }}

</script>

{% endblock %}



{% macro _render_note_desc(n, shorten_sort_time, desc_to_html, match_domains) %}
{% if n.sort_time %}
  <span class="time">{{ shorten_sort_time(n.sort_time) }}</span>
{% endif %}

{% if n.short_desc %}
  {{ desc_to_html(n.short_desc)|safe }}
{% elif n.source %}
  {{ n.source }}
{% endif %}

<span class="domain">{{ match_domains(n)|safe }}</span>
{% endmacro %}



{% macro render_notes_in_scope(scope_id, dict) -%}
{% set ns = namespace() %}
<div class="scope">
  <div class="spacer-上"></div>
  <div class="scope-header-container">
    <div class="scope-header">{{ week_lengthener(scope_id) }}</div>
  </div>

  {# print summary notes #}
  {% if dict['summaries'] %}
  <div class="summaries">
    {% set ns.prev_scope = None %}
    {% for note in dict['summaries'] %}
    <div class="row">
      <div class="time-scope">
      {% if not ns.prev_scope or ns.prev_scope != note.time_scope_id %}
        <a href="/note/{{ note.note_id }}">{{ note.time_scope_id }}</a>
      {% endif %}
      </div>

      <div class="content-vertical">
        <div class="title-and-domain">
        {% if note.short_desc %}
          <div class="title">{{ desc_to_html(note.short_desc)|safe }}</div>
        {% else %}
          <div class="desc">{{ desc_to_html(note.desc)|safe }}</div>
        {% endif %}
          <div class="domain">
            <div>{{ match_domains(note)|safe }}</div>
          </div>
        </div>
      </div>{# content-vertical #}
    </div>{# row #}
    {% set ns.prev_scope = note.time_scope_id %}
    {% endfor %}
  </div>{# summaries #}
  {% endif %}

  {# print event notes #}
  {% if dict['events'] %}
  <div class="events">
    {% for note in dict['events'] %}
    <details id="{{ note.note_id }}" class="{{ safen(note.type) }}">
      <summary>
        {% if note.sort_time %}
        <span class="time">{{ shorten_sort_time(note.sort_time) }}</span>
        {% endif %}

      {% if note.short_desc %}
        <span class="title">{{ desc_to_html(note.short_desc)|safe }}</span>
      {% elif note.source %}
        <span class="title">{{ note.source }}</span>
      {% endif %}
      {% if match_domains(note) %}
        <span class="domain">{{ match_domains(note)|safe }}</span>
      {% endif %}
      </summary>
      <div class="desc">
      {% if note.desc %}
        {{ desc_to_html(note.desc)|safe }}
        <hr />
      {% endif %}
        <pre>{{ pretty_print_note(note)|safe }}</pre>
      </div>
    </details>
    {% endfor %}
  </div>{# events #}
  {% endif %}

  {# print normal notes #}
  {% if dict['notes'] %}
  <div class="notes">
  {% for note in dict['notes'] %}
    {% set tabs = [('edit', 'um. edit.'),
                   ('json', "<div>{}</div>".format(pretty_print_note(note))),
                   ] %}
    {{ shared_macros.render_with_tabs('note',
        unique_id="{}-{}".format(note.note_id, loop.index),
        desc=_render_note_desc(note, shorten_sort_time, desc_to_html, match_domains),
        tabs=tabs) }}
  {% endfor %}
  </div>{# notes #}
  {% endif %}

  {# print child scopes #}
  {% if dict['child_scopes'] %}
  {% for child_scope, child_dict in dict['child_scopes'].items()|sort(reverse=true, attribute="0") %}
    {{ render_notes_in_scope(child_scope, child_dict) }}
  {% endfor %}
  {% endif %}

</div>{# note-scope #}
{%- endmacro %}



{% block content %}
{% for quarter, quarter_dict in response_by_quarter.items()|sort(reverse=true, attribute='0') %}
{{ render_notes_in_scope(quarter, quarter_dict) }}
{% endfor %}

<div class="spacer-下"></div>
{% endblock %}
