{% import "shared-macros.jinja" as shared_macros %}

{% extends "base.html" %}



{% block head %}

{{ super() }}

<style type="text/css">
:root {
  --text-low-priority-color: #999;
}

.note-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  background: var(--default-bg-color);
}

.detailed-desc {
  white-space: pre-wrap;
  color: var(--text-low-priority-color);
  font-size: 12px;
  line-height: 16px;

  margin-top: 8px;
  padding-left: 24px;
}

.domain-header {
  position: sticky;
  top: 0px;
  text-align: center;
  padding: 16px;

  font-size: 24px;
  line-height: 24px;
}

.note-add-panel {
  position: sticky;
  bottom: 0px;
  background-color: white;
  margin-top: 8px;
}

{{ shared_macros.note_edit_css('note', ['json',]) }}

{{ shared_macros.note_edit_css('note-add', ['add',]) }}
</style>

<script>
{{ shared_macros.note_edit_js|safe }}
</script>

{% endblock %}



{% macro render_n2(note, scope) %}
  {% set tabs = [('json', "<div>{}</div>".format(render_n2_json(note))),
                 ] %}
  {{ shared_macros.render_with_tabs('note',
        unique_id="{}-{}".format(note.note_id, scope),
        desc=render_n2_desc(note, scope),
        tabs=tabs) }}

{% endmacro %}



{% block content %}

<div class="domain-header">{{ header }}</div>

{% for quarter_scope, quarter_dict in notes_tree.items()|sort(reverse=true, attribute='0') %}
{% if quarter_dict|length > 1 or quarter_dict["notes"] %}
  <h1>quarter: {{ quarter_scope }}</h1>
{% endif %}

  {% for quarter_note in quarter_dict["notes"] %}
    {{ render_n2(quarter_note, quarter_scope) }}
  {% endfor %}

  {% for week_scope, week_dict in quarter_dict.items()|sort(reverse=true, attribute='0') if not week_scope == "notes" %}
  {% if week_dict|length > 1 or week_dict["notes"] %}
    <h2>week: {{ week_scope }}</h2>
  {% endif %}

    {% for week_note in week_dict["notes"] %}
      {{ render_n2(week_note, week_scope) }}
    {% endfor %}

    {% for day_scope, day_dict in week_dict.items()|sort(reverse=true, attribute='0') if not day_scope == "notes" %}
    {% if day_dict["notes"] %}
      <h3>day: {{ day_scope }}</h3>
    {% endif %}

      {% for day_note in day_dict["notes"] %}
        {{ render_n2(day_note, day_scope) }}
      {% endfor %}

    {% endfor %}{# day #}

  {% if week_dict|length > 1 or week_dict["notes"] %}
    <hr>
  {% endif %}
  {% endfor %}{# week #}
{% endfor %}{# quarter #}



{% macro render_add_panel() %}
  hello this is a panel<br>
  longer panel
  <hr>
  more panel

{% endmacro %}

<div class="note-add-panel">
{% set tabs = [('add', render_add_panel()),
               ] %}
{{ shared_macros.render_with_tabs('note-add',
      desc='[add note]',
      tabs=tabs) }}
</div>

{% endblock %}
