{% import "shared-macros.jinja" as shared_macros %}

{% extends "base.html" %}



{% block head %}

{{ super() }}

<style type="text/css">
{{ shared_macros.note_edit_css('note', ['edit', 'json']) }}
</style>

<script>
{{ shared_macros.note_edit_js|safe }}
</script>

{% endblock %}



{% block content %}

{% for note in notes_list %}
  {% set tabs = [('edit', 'um. edit.'),
                 ('json', "<pre>{}</pre>".format(pretty_print_note(note))),
                 ] %}
  {{ shared_macros.render_with_tabs('note',
        unique_id="{}-{}".format(note.note_id, loop.index),
        desc=desc_to_html(note.short_desc),
        tabs=tabs) }}
{% endfor %}

{% endblock %}
