{% set note_edit_css %}
{% endset %}{# note_edit_css #}



{% set note_edit_js %}
{% endset %}{# note_edit_js #}



{% macro edit_block(n, backlink) %}
{% endmacro %}



{% macro print_summary_note(n, render_time_scope) %}
{% endmacro %}



{% macro print_event_note(n) %}
{% endmacro %}



{% macro print_normal_note(note) %}
{% endmacro %}
