{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            font-size: 200%;
            margin-left:  80pt;
            margin-right: 80pt;
            max-width: 36em;
        }
        .date-quarter {
            font-size: 150%;
            margin-bottom: 0.8em;
            border-bottom: 1pt solid dimgrey;
        }

        /* title and domain formatting */
        .title-and-domain {
            display: flex;
            flow-direction: row;
        }
        .title-and-domain .title {
            flex: 1 4 auto;
        }
        .domain {
            flex: 1 2 auto;
            padding-left: 1rem;
            font-size: 80%;
            text-align: right;

            /* next two lines position the sub-div that has actual text */
            display: flex;
            flex-direction: column-reverse;
        }

        /* summary block styling */
        .summary-block {
            display: flex;
            flex-direction: column;
        }
        .summary-block .row {
            font-size: 80%;
            display: flex;
            flow-direction: row;
        }
        .summary-block .row .time-scope {
            flex: none;
            min-width: 9em;
            padding-left: 0.4rem;
            padding-right: 0.8rem;
        }
        .summary-block .row .time-scope a:link {
            color: #c0c0c0;
        }
        .summary-block .row .time-scope a:hover {
            color: blue;
        }
        .summary-block .row .content-vertical {
            flex: 4 2 auto;
        }
        .summary-block .row .content-vertical .desc {
            color: black;
            white-space: pre-wrap;
        }

        /* long note styling */
        .long-note {
            border: 1pt solid dimgray;
            padding: 0.7em;
            margin-top: 1.0em;
        }
        .long-desc {
            font-size: 70%;
            color: #666;
            white-space: pre-wrap;
            padding-top: 1rem;
            border-top: 1pt solid dimgray;
        }
    </style>
{% endblock %}



{% block content %}

{% set ns = namespace() %}
{% for quarter, quarter_dict in notes_by_quarter.items() %}
<div class="quarter-container">
    <div class="date-quarter"># {{ quarter }}</div>

{% set ns.prev_week = None %}
{% for week, week_notes in quarter_dict.items() if not not week_notes %}
    {% if week != "quarter-notes" %}
    <div class="date-week">## {{ week }}</div>
    {% endif %}

    {% set ns.prev_note = None %}
    {% for note in week_notes %}
        {# if this is the start of a summary section, print heading #}
        {% if note.is_summary
           and (not ns.prev_note or not ns.prev_note.is_summary) %}
        <div class="summary-block">
        {% endif %}

        {# print the summary row #}
        {% if note.is_summary %}
            <div class="row">
                <div class="time-scope">
                {% if week == "quarter-notes" %}
                    <a href="/note/{{ note.note_id }}">{{ note.time_scope_id }}</a>
                {% else %}
                    <a href="/note/{{ note.note_id }}">{{ time_scope_lengthener(note) }}</a>
                {% endif %}
                </div>
                {# use a two-row flexbox, if that's what we need #}
                {% if note.title and match_domains(note) %}
                    <div class="content-vertical">
                        <div class="desc">{{ desc_to_html(note.desc)|safe }}</div>
                        <div class="title-and-domain">
                            <div class="title">{{ note.title }}</div>
                            <div class="domain">
                                <div>{{ match_domains(note) }}</div>
                            </div>
                        </div>
                    </div>
                {# else one row is fine, we don't need both title and domain #}
                {% else %}
                    <div class="content-vertical">
                        <div class="desc">{{ desc_to_html(note.desc)|safe }}</div>
                        {% if note.title %}
                        <div class="title-matching-desc">{{ note.title }}</div>
                        {% endif %}
                    </div>
                    {% if match_domains(note) %}
                    <div class="domain">
                        <div>{{ match_domains(note) }}</div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}

        {# else closing a summary section #}
        {% if not note.is_summary
            and (ns.prev_note and ns.prev_note.is_summary) %}
        </div>
        {% endif %}

        {# else it's a non-summary note #}
        {% if not note.is_summary %}
        <div class="long-note">
            <div class="title-and-domain">
                <div class="title">
                    <a href="/note/{{ note.note_id }}">### {{ note.time_scope_id }}
                    {% if note.title %}
                        | {{ note.title }}
                    {% endif %}
                    </a>
                </div>
                {% if match_domains(note) %}
                <div class="domain">
                    <div>{{ match_domains(note) }}</div>
                </div>
                {% endif %}
            </div>
            <div class="long-desc">{{ desc_to_html(note.desc)|safe }}</div>
        </div>
        {% endif %}
        {% set ns.prev_note = note %}
    {% endfor %}

    {# close dangling summary section, if we have one #}
    {% if ns.prev_note and ns.prev_note.is_summary %}
        </div>
    {% endif %}

    {# trailing whitespace for end of week block #}
    <br /><br /><br />
    {% set ns.prev_week = week %}
{% endfor %}

</div> {# quarter-container #}
{% endfor %}
{% endblock %}
