{% import "shared-macros.jinja" as shared_macros %}

{% extends "base.html" %}



{# ================================================================= #}

{% block head %}

{{ super() }}

{% if page_title %}
<title>{{ page_title }}</title>
{% elif domain_header %}
<title>{{ domain_header }}</title>
{% endif %}

<style type="text/css">
{{ shared_macros.note_edit_css('note', ['json',]) }}
{{ shared_macros.note_edit_css('note-plus', ['資訊', 'json',]) }}

:root {
  --text-low-priority-color: #999;
  --margin-between-domain-and-tabs: 8px;
}

body > h1,
body > h2 {
  margin-left: calc(var(--default-left-right-margin) - 16px);
}

.note-plus-only,
.note-only {
  display: flex;
}

.time {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 15px;

  align-self: flex-start;
  margin-right: 0.5em;
  color: var(--text-low-priority-color);
  white-space: nowrap;
}

.desc {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 18px;

  margin-right: 16px;
}
.desc > p {
  display: inline;
}

/* Assumes that none of our domains are too long;
 * but if that's the case, this makes things a lot nicer.
 */
.domains a {
  white-space: nowrap;

  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 15px;
}
.domains {
  max-width: 60%;
}

.note-plus-and-tabs .domains {
  margin-left: auto;
  margin-right: calc(var(--margin-between-domain-and-tabs) + 1 * var(--tab-label-width));
  text-align: right;
}
.note-plus-and-tabs:hover .domains {
  margin-right: calc(var(--margin-between-domain-and-tabs) + 2 * var(--tab-label-width));
  text-align: right;
}

.note-and-tabs .domains {
  margin-left: auto;
  margin-right: calc(var(--margin-between-domain-and-tabs));
  text-align: right;
}
.note-and-tabs:hover .domains {
  margin-right: calc(var(--margin-between-domain-and-tabs) + 1 * var(--tab-label-width));
  text-align: right;
}

.note-plus-json > div,
.note-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  background: var(--default-bg-color);
}

.note-plus-資訊 {
  margin-top: -12px;
}
.note-plus-資訊 > div {
  color: var(--text-low-priority-color);
  font-size: 12px;
  line-height: 16px;

  margin-top: 6px;
  padding-left: 32px;
}
.note-plus-資訊 > div p {
  margin-bottom: 0;
}

/* show .note-plus labels even when not hovering*/
.note-plus-and-tabs label.show-資訊 {
  display: inherit;
}

/* recreate formatting from my favorite markdown renderer */
.note-plus-資訊 > div {
  color: var(--highlight-fg-color);
  font-family: "Helvetica Neue";
  line-height: 150%;
}

.note-plus-資訊 h1:before {
  content: "# ";
}
.note-plus-資訊 h1 {
  margin-top: 24px;
}
.note-plus-資訊 h2:before {
  content: "## ";
}
.note-plus-資訊 h2 {
  margin-top: 16px;
}
.note-plus-資訊 h3:before {
  content: "### ";
}
.note-plus-資訊 h3 {
  margin-top: 8px;
}
.note-plus-資訊 blockquote {
  margin-left: 16px;
  padding-left: 6px;
  border-left: 2px solid black;
}
.note-plus-資訊 .comment {
  color: var(--disabled-fg-color);
}
/* Make virtually all lists single-spaced */
.note-plus-資訊 li > p {
  display: inline;
}
/* Any markdown blocks that use backticks */
.desc > p code,
.note-plus-資訊 code {
  font-size: 80%;
  background-color: var(--highlight-bg-color);
  padding: 2px 4px 2px 4px;
}
.note-plus-資訊 pre > code {
  display: block;
  padding: 6px 12px 6px 12px;
  max-width: calc(90% - 12px - 12px);
}
.note-plus-資訊 th {
  padding: 0 6px 6px 6px;
  text-align: center;
}
.note-plus-資訊 td {
  border-top: 1px solid silver;
  padding: 7px;
  background-color: var(--default-highlight-color);
}

.domain-header {
  position: sticky;
  top: 0px;
  text-align: center;
  padding: 16px;

  z-index: 200;

{%- if prev_scope or next_scope %}
  /* provide fat margins so we can click through to .scope-nav */
  margin-left: calc(var(--default-left-right-margin) + 10%);
  margin-right: calc(var(--default-left-right-margin) + 10%);
{%- endif %}
}
.domain-header > span {
  background: var(--default-bg-color);
  padding: 8px;

  font-size:   16px;
  line-height: 24px;
}

.week-svg {
  padding-left: min(var(--default-left-right-margin), calc((100% - 4px - 9 * 104px)));
  padding-right: calc(var(--default-left-right-margin) - 4px);
}
.day-svg {
  padding-left: min(var(--default-left-right-margin),calc((100% - 800px)/2));
  padding-right: var(--default-left-right-margin);
  margin-top: 36px;
  border-top: 3px solid black;
  padding-top: 8px;
  margin-bottom: 32px;
}
</style>

<script>
{{ shared_macros.note_edit_js|safe }}
</script>

{% endblock %}



{# ================================================================= #}

{% macro render_n2(note, scope) %}
{% if note.detailed_desc %}
  {# length-to-collapse is based on: #}
  {# SELECT note_id, length(detailed_desc) as len0 FROM 'Notes-v2' WHERE len0 > 15000; #}
  {% set tabs = [
                  ('資訊',
                   "<div>{}</div>".format(note.detailed_desc | markdown),
                   'checked' if note.detailed_desc | length < 20_000 else ''
                  ),
                  ('json', "<div>{}</div>".format(render_n2_json(note)|escape), ''),
                ] %}

  {{ shared_macros.render_with_tabs('note-plus',
        unique_id="{}-{}".format(note.note_id, scope),
        desc=render_n2_desc(note, scope),
        tabs=tabs) }}

{% else %}
  {% set tabs = [('json', "<div>{}</div>".format(render_n2_json(note)|escape), ''),] %}

  {{ shared_macros.render_with_tabs('note',
        unique_id="{}-{}".format(note.note_id, scope),
        desc=render_n2_desc(note, scope),
        tabs=tabs) }}

{% endif %}

{% endmacro %}



{# ================================================================= #}

{% macro render_week(week_scope, week_dict) %}
{%- if week_dict | length > 1 or week_dict["notes"] %}
  <h2>{{ as_week_header(week_scope) | safe }}</h2>
  <div class="week-svg">
    {{ maybe_render_week_svg(week_scope, week_dict) | safe }}
  </div>
{% endif %}

{%- for week_note in week_dict["notes"] %}
  {{- render_n2(week_note, week_scope) }}
{%- endfor %}

{%- for day_scope, day_dict in week_dict.items()|sort(reverse=true, attribute='0') if not day_scope == "notes" %}
  {%- if day_dict["notes"] %}
  <div class="day-svg">
    {{ render_day_svg(day_scope, day_dict["notes"]) | safe }}
  </div>
  {% endif %}

  {%- for day_note in day_dict["notes"] %}
    {{- render_n2(day_note, day_scope) }}
  {%- endfor %}

{% endfor %}{# day #}

{% endmacro %}{# render_week #}



{% macro render_quarter(quarter_scope, quarter_dict) %}
{%- if quarter_dict | length > 1 or quarter_dict["notes"] %}
  <h1>{{ as_quarter_header(quarter_scope) | safe }}</h1>
{%- endif %}

{%- for quarter_note in quarter_dict["notes"] %}
  {{- render_n2(quarter_note, quarter_scope) }}
{%- endfor %}

{%- for week_scope, week_dict in quarter_dict.items()|sort(reverse=true, attribute='0') if not week_scope == "notes" %}
  {{- render_week(week_scope, week_dict) }}

  {%- if week_dict | length > 1 or week_dict["notes"] %}
  <hr>
{%- endif %}

{%- endfor %}{# week #}

{%- endmacro %}{# render_quarter #}



{% macro render_notes(notes_tree) %}
{%- for quarter_scope, quarter_dict in notes_tree.items()|sort(reverse=true, attribute='0') %}
  {{- render_quarter(quarter_scope, quarter_dict) }}
{%- endfor %}

{%- endmacro %}



{% block content %}
{{- cached_render(render_notes) }}

{%- endblock %}

