{% import "shared-macros.jinja" as shared_macros %}
{% import "task-macros.jinja" as task_macros %}

{% extends "base.html" %}



{% block head %}
{{ super() }}

<title>{{ page_title }}</title>

<style type="text/css">
:root {
  --text-low-priority-color: #999;
}

body {
  overflow-wrap: anywhere;
  word-break: break-word; /* Safari */
}
body > .spacer-下 {
  height: 640px;
}

.scope-container > .spacer-上 {
  height: 12px;
}
.scope-header-container {
  position: sticky;
  top: calc(var(--scope-nav-height));
  height: 33px; /* includes 1px border */
  z-index: 2;
  background-color: var(--default-bg-color);

  padding-left: var(--default-left-right-margin);
  padding-right: var(--default-left-right-margin);
  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: calc(32px - 8px - 12px);
}
.scope-container-post-spacer {
  height: 64px;
}
.scope-header {
  font-size: 24px;
  line-height: 24px;
  height: 25px; /* line height + 1px border */
  color: var(--highlight-fg-color);
  border-bottom: 1px solid dimgrey;
  padding-bottom: 8px;
}
.category-header {
  position: sticky;
  top: calc(var(--scope-nav-height)
    + 16px + 33px + 12px /* .scope-header and its -container */);
  z-index: 1;
  background-color: var(--default-bg-color);
  font-weight: 600;

  padding-left: var(--default-left-right-margin);
  padding-right: var(--default-left-right-margin);
  margin-top: calc(32px - 12px);
  padding-top: 12px;
  padding-bottom: 12px;
}

.task-only > .task-scope {
  flex-shrink: 0;
  padding-right: 0.8em;
  text-align: right;
}
.task-only > .task-desc {
  flex: 1 1 0;
  flex-grow: 1;
}
{# this is for the markdown parser, which dumps <p> tags -#}
.task-desc p {
  display: inline;
}
.task-scope {
  color: #bbb;
}
.task-time {
  color: brown;
}

.resolved, .resolved .task-scope, .resolved .task-time {
  color: var(--text-low-priority-color);
}


.task-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  background: var(--default-bg-color);
}

.sub-desc {
  white-space: pre-wrap;
  color: var(--text-low-priority-color);
  font-size: 12px;
  line-height: 16px;

  margin-top: 8px;
  padding-left: 24px;
  max-width: 600px;
}

.task-add-panel {
  position: sticky;
  bottom: 0;
  background-color: var(--highlight-bg-color);
  z-index: 4;
}

{{ shared_macros.note_edit_css('task', ['edit', 'json']) }}
{{ shared_macros.note_edit_css('task-add', ['add']) }}
{{ task_macros.task_edit_css }}
</style>



<script>
  {{ shared_macros.note_edit_js|safe }}
  {{ task_macros.task_edit_js|safe }}

  function populate_add_panel() {
    // Populate the add_panel when it's shown
    const task_add_panel = document.querySelector(".task-add-panel");
    const add_checkbox = task_add_panel.querySelector("input.show-add");

    console.log(add_checkbox);
    add_checkbox.addEventListener('change', (e) => {
      tl_row = e.target.parentNode.querySelector(".linkage-row");

      /* generate target cell contents */
      generation_time = new Date();
      time_scope_str = toTimeScopeId(new Date(generation_time));
      created_at_str = generation_time.toISOString()
        .split('T').join(' ') // remove the ISO8601 'T'
        .split('Z')[0]; // and remove anything past the 'Z'

      /* TODO: overriding with a Pacific Time shift, be less hard-coded */
      time_scope_str = toTimeScopeId(new Date(
        generation_time.toLocaleString('en-US', {timeZone: "America/Los_Angeles"})));

      /* fill in target cells */
      time_scope_id = tl_row.querySelector('input[name="tl-new-blank-time_scope_id"]');
      if (time_scope_id && !time_scope_id.value) {
        console.log("Filling in time_scope_id: ", time_scope_str)
        time_scope_id.value = time_scope_str;
      }

      created_at = tl_row.querySelector('input[name="tl-new-blank-created_at"]');
      if (created_at && !created_at.value) {
        console.log("Filling in created_at: ", created_at_str)
        created_at.value = created_at_str;
      }
    });
  }
  document.addEventListener("DOMContentLoaded", populate_add_panel);

</script>

{% endblock %}



{# ================================================================= #}

{% macro _render_task_desc(t, scope, resolution_to_print) %}

    {% if resolution_to_print %}
      <span class="task-resolution">({{ resolution_to_print }}) </span>
    {% endif %}

    {{ t.desc | markdown }}

    {% if t.time_estimate and t.get_time_elapsed() %}
      <span class="task-time">{{ "`{:.1f} => {:.3f}h`".format(t.time_estimate, t.get_time_elapsed()) }}</span>
    {% elif t.time_estimate %}
      <span class="task-time">{{ "`{:.1f}h`".format(t.time_estimate) }}</span>
    {% elif t.get_time_elapsed() %}
      <span class="task-time">{{ "`=> {:.3f}h`".format(t.get_time_elapsed()) }}</span>
    {% endif %}

    {% if t.linkages|length == 1 %}
      {% if t.linkages[0].detailed_resolution %}
        <div class="sub-desc">{{ t.linkages[0].detailed_resolution }}</div>
      {% endif %}
    {% elif t.linkage_at(scope, False) %}
      {% if t.linkage_at(scope, False).detailed_resolution %}
        <div class="sub-desc">{{ t.linkage_at(scope, False).detailed_resolution }}</div>
      {% endif %}
    {% endif %}

{% endmacro %}



{% macro render_task(task, scope) %}
  {% set tabs = [('edit', task_macros.edit_block(task,
                              backlink="task-{}-{}".format(task.task_id, scope)), ''),
                 ('json', "<div>{}</div>".format(task.as_json()), ''),
                 ] %}
  {% set resolution_to_print =
         task.linkage_at(scope, create_if_none=False).resolution %}
  {{ shared_macros.render_with_tabs('task',
        item_styling="resolved" if resolution_to_print,
        unique_id="{}-{}".format(task.task_id, scope),
        desc=_render_task_desc(task, scope, resolution_to_print),
        tabs=tabs) }}
{% endmacro %}



{# ================================================================= #}

{% macro render_add_panel() %}
<form action="{{url_for('tasks-v2-rest.create_task')}}" method="post">
  {{ task_macros.task_add_header() }}

  <div class="linkage-block">
    {{ task_macros.linkage_header_row() }}
    {{ task_macros.linkage_row_new('new-blank', '', '', '') }}
    {{ task_macros.linkage_footer_row('create task') }}
  </div>
</form>

{% endmacro %}

{% macro task_add_panel() %}
{% set tabs = [('add', render_add_panel(), ''),
               ] %}
{{ shared_macros.render_with_tabs('task-add',
    desc='[add task]',
    tabs=tabs) }}

{% endmacro %}



{# ================================================================= #}

{% block content %}

{% set ns = namespace() %}
{% for scope, scope_tasks in tasks_by_scope.items() if scope_tasks %}
<div class="scope-container">
  <div class="spacer-上"></div>
  <div class="scope-header-container">
    <div class="scope-header">## {{ scope }}</div>
  </div>

  <div class="category-container">
  {% set ns.prev_task = None %}
  {% for task in scope_tasks %}
    {% if ns.prev_task and task.category != ns.prev_task.category %}
  </div>{# category-container #}
  <div class="category-container">
    {% endif %}

    {# if this is the start of a new category, print heading #}
    {% if task.category
       and not (ns.prev_task.category and task.category == ns.prev_task.category) %}
    <div class="category-header">### {{ task.category }}</div>
    {% endif %}

    {{ render_task(task, scope) }}
    {% set ns.prev_task = task %}
  {% endfor %}
  </div>{# category-container #}

</div>{# scope-container #}
<!-- this is _outside_ `.scope-container` because the sticky header shouldn't be on top of it -->
<div class="scope-container-post-spacer"></div>
{% endfor %}

<div class="spacer-下"></div>

<div class="task-add-panel">
{{ task_add_panel() }}
</div>

{% endblock %}
