{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            margin-left: 7.5%;
            margin-right: 7.5%;
            margin-bottom: 50em;
        }

        .date-scope {
            font-size: 200%;
            margin-bottom: 0.8em;
            border-bottom: 1pt solid dimgrey;
            position: sticky;
            top: 0px;
            height: 1.6em;
            color: black;
            background-color: #eee;
        }
        .category {
            font-size: 150%;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
            position: sticky;
            top: 2.5em;
            background-color: #eee;
        }

        /* task formatting */
        details {
            padding: 0.5em;
        }
        .time-scope {
            color: #bbb;
        }
        .task-time {
          color: brown;
        }
        .task-resolved, .task-resolved .task-time, .task-resolved .time-scope {
            color: rgb(220, 220, 220);
        }
        .task-details {
            margin: 1.3em 0.7em 0.7em 1.3em;
            background-color: rgb(246,246,246);
        }
        .task-details .created_at {
            color: forestgreen;
            margin-top: 1em;
        }
    </style>
{% endblock %}



{% block content %}

{% set ns = namespace() %}
{% set ns.prev_scope = None %}
{% for scope, scope_tasks in tasks_by_scope.items() if scope_tasks %}
<div class="scope-container">
    <div class="date-scope">## {{ scope }}</div>

    {% set ns.prev_task = None %}
    {% for task in scope_tasks %}
        {# if this is the start of a new category, print heading #}
        {% if task.category
           and not (ns.prev_task.category and task.category == ns.prev_task.category) %}
        <div class="category">### {{ task.category }}</div>
        {% endif %}

        <details>
            {% if task.resolution == "info" %}
            <summary class="task-resolved">
                <span class="desc">{{ link_replacer(task['desc'])|safe }}</span>
            </summary>
            {% elif task.resolution %}
            <summary class="task-resolved">
                <span class="resolution">({{ task.resolution }}) </span>

                {% if time_scope_shortener(task, scope) %}
                <span class="time-scope">{{ time_scope_shortener(task, scope) }}</span>
                {% endif %}

                {{ to_summary_html(task)|safe }}
            </summary>
            {% else %}
            <summary class="task">
                {% if time_scope_shortener(task, scope) %}
                <span class="time-scope">{{ time_scope_shortener(task, scope) }}</span>
                {% endif %}

                {{ to_summary_html(task)|safe }}
            </summary>
            {% endif %}

            <div class="task-details">
                <a href="/task/{{ task.task_id }}">
                    {% if task.created_at %}
                    <span class="created_at">&lt;!-- {{ task.created_at }} --&gt;</span>
                    <br />
                    {% endif %}

                    * {{ task.first_scope }}:
                </a>
                {{ to_summary_html(task)|safe }}
                <hr />
                <pre>{{ to_details_html(task)|safe }}</pre>
            </div>
        </details>

        {% set ns.prev_task = task %}
    {% endfor %}
    {# trailing whitespace for end of scope block #}
    <br /><br /><br />
    {% set ns.prev_scope = scope %}

</div> {# scope-container #}
{% endfor %}

{% endblock %}
