{% import "shared-macros.jinja" as shared_macros %}
{% import "task-macros.jinja" as task_macros %}

{% extends "base.html" %}



{% block head %}

{{ super() }}

<style type="text/css">
:root {
  --text-low-priority-color: #999;
}

.task-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;

  /* TODO: need more consistent design language for editable/non-editable */
  background: var(--default-bg-color);
}

.sub-desc {
  white-space: pre-wrap;
  color: var(--text-low-priority-color);
  font-size: 12px;
  line-height: 16px;

  margin-top: 8px;
  padding-left: 24px;
}

{{ shared_macros.note_edit_css('task', ['edit', 'json']) }}
{{ task_macros.task_edit_css }}
</style>



<script>
  {{ shared_macros.note_edit_js|safe }}
  {{ task_macros.task_edit_js|safe }}
</script>

{% endblock %}



{% macro _render_task_desc(t) %}

{{ t.desc }}

{# TODO: prod version should also have a clause for "matches ref_scope" #}
{% if t.linkages|length == 1 %}
  {% if t.linkages[0].detailed_resolution %}
    <div class="sub-desc">{{ t.linkages[0].detailed_resolution }}</div>
  {% endif %}
{% endif %}

{% endmacro %}



{% block content %}

{% for task in tasks_list %}
  {% set tabs = [('edit', task_macros.edit_block(task,
                              backlink="task-{}-{}".format(task.task_id, loop.index)), ''),
                 ('json', "<div>{}</div>".format(task.as_json()), ''),
                 ] %}
  {{ shared_macros.render_with_tabs('task',
        unique_id="{}-{}".format(task.task_id, loop.index),
        desc=_render_task_desc(task),
        tabs=tabs) }}
{% endfor %}

{% endblock %}
