{% extends "base.html" %}

{% block head %}
{{ super() }}
<style type="text/css">
body {
  overflow-wrap: anywhere;
  word-break: break-word; /* Safari */

  margin-bottom: 50em;
}

.date-scope {
  font-size: 200%;
  margin-bottom: 0.8em;
  border-bottom: 1pt solid dimgrey;
  margin-left: 7.5%;
  margin-right: 7.5%;
  position: sticky;
  top: 0px;
  height: 1.6em;
  color: black;
  background-color: #eee;
}
.category {
  font-size: 150%;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 7.5%;
  margin-right: 7.5%;
  position: sticky;
  top: 2.5em;
  background-color: #eee;
}

.task-and-details {
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;

  -webkit-transform: translate3d(0, 0, 0);
}
.task-and-details:hover {
  background: #ddd;
}

.task-only {
  padding: 0.5em;
  display: flex;
}
.task-only > .task-scope {
  flex-shrink: 0;
  padding-right: 0.8em;
  text-align: right;
}
.task-only > .task-desc {
  flex: 1 1 0;
  flex-grow: 1;
}
.task-scope {
  color: #bbb;
}
.bonus-options {
  width: 100%;
  position: relative;
}
.bonus-options > label {
  position: absolute;
  top: calc(-2.5em); /* TODO: should be with a line height */

  color: #bbb;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.bonus-options > label.show-json {
  right: 0;
}
.bonus-options > label.show-edit {
  right: 3em;
}

.bonus-options > input {
  display: none;
}
.task-json, .task-edit {
  background-color: rgb(246,246,246);
  padding: 0.5em;
  margin-bottom: 0.5em; /* TODO: this is wrong, makes highlighting weird */

  display: none;
}
.task-json > pre {
  margin: 0; /* Safari? */
}
input.show-json:checked ~ label.show-json, input.show-edit:checked ~ label.show-edit {
  background-color: rgb(246,246,246);
}
input.show-json:checked ~ .task-json, input.show-edit:checked ~ .task-edit {
  display: inherit;
}

.task-time {
  color: brown;
}
.task-resolved, .task-resolved .task-time, .task-resolved .time-scope {
  color: rgb(200, 200, 200);
}
.task-details .created_at {
  color: forestgreen;
  margin-top: 1em;
}

.task-edit div {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.task-edit label {
  display: inline-block;
  text-align: right;
  width: 9em;
}
.task-edit textarea {
  width: 35em;
  height: 5em;
  vertical-align: top;

  line-height: 1.2;
}
.task-edit input {
  width: 20em;
}
.task-edit-task-only {
  top: 0;
  position: sticky;
}
.task-linkage {
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  margin: 0.5em;
}
.task-linkage:hover {
  background-color: rgb(255,255,255);
}
</style>

<script>
document.addEventListener("submit", sendData);

function sendData(e) {
  e.preventDefault();
  const task_id = -1;

  fetch("{{url_for("tasks-v2-rest.edit_task", task_id=-1)}}", {
    method: "POST",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json"
    },
    body: JSON.stringify({
      task_id: task_id,
      desc: desc,
      category: category,
      time_estimate: time_estimate,
    })
  })
    .then(res => res.json())
    .then(data => {
      document.querySelector("#update-task-result").innerText = JSON.stringify(data);
    })
    .catch(err => console.log(err));
}

</script>
{% endblock %}



{% macro linkage_block(tl) %}
<div class="task-linkage">
<div>
  <label>time_scope_id</label>
  <input value="{{tl.time_scope_id}}">
  <label>created_at</label>
  <input value="{{tl.created_at}}" disabled>
</div>
<div>
  <label>resolution</label>
  <input value="{{tl.resolution if tl.resolution}}">
  <label>time_elapsed</label>
  <input value="{{tl.time_elapsed if tl.time_elapsed}}">
</div>
<div>
  <label>detailed_resolution</label>
  <textarea>{{tl.detailed_resolution}}</textarea>
</div>
</div>
{% endmacro %}



{% macro edit_block(t) %}
<form action="{{url_for("tasks-v2-rest.edit_task", task_id=-1)}}" method="post">

<div class="task-edit-task-only">
  <div>
    <label>task_id</label>
    <input type="text" value="{{t.task_id}}" disabled>
  </div>
  <div>
    <label>desc</label>
    <textarea id="desc">{{t.desc}}</textarea>
  </div>
  <div>
    <label>category</label>
    <input id="category" type="text" value="{{t.category if t.category}}">
  </div>
  <div>
    <label>time_estimate</label>
    <input id="time_estimate" type="text" value="{{t.time_estimate if t.time_estimate}}">
  </div>
  <div>
    <label></label>
    <input type="submit" value="update">
  </div>
</div>

{% for tl in t.linkages %}
{{ linkage_block(tl) }}
{% endfor %}

<hr />
<div id="update-task-result">[waiting for form submission]</div>

</form>
{% endmacro %}



{% macro render_task(t, scope) %}
<div class="task-and-details">
  <div class="task-only">
  {% if render_scope %}
    {{ render_scope(t.linkages[0].time_scope_id, scope) | safe }}
  {% elif short_scope(t, scope) %}
    <div class="task-scope">{{ short_scope(t, scope) }}</div>
  {% endif %}
    <div class="task-desc">{{ t.desc }}</div>
  </div>

  <div class="bonus-options">
    <input type="checkbox" id="toggle-json-{{t.task_id}}-{{scope}}" class="show-json">
    <label for="toggle-json-{{t.task_id}}-{{scope}}" class="show-json">
      <span>#{{ t.task_id }}</span>
    </label>
    <div class="task-json">
      <pre>{{ to_details_html(t)|safe }}</pre>
    </div>

    <input type="checkbox" id="toggle-edit-{{t.task_id}}-{{scope}}" class="show-edit">
    <label for="toggle-edit-{{t.task_id}}-{{scope}}" class="show-edit">
      <span>edit</span>
    </label>
    <div class="task-edit">{{ edit_block(t) }}</div>

  </div>
</div>

{% endmacro %}



{% block content %}

{% set ns = namespace() %}
{% set ns.prev_scope = None %}
{% for scope, scope_tasks in tasks_by_scope.items() if scope_tasks %}
<div class="scope-container">
  <div class="date-scope">## {{ scope }}</div>

  {% set ns.prev_task = None %}
  {% for task in scope_tasks %}
    {# if this is the start of a new category, print heading #}
    {% if task.category
       and not (ns.prev_task.category and task.category == ns.prev_task.category) %}
    <div class="category">### {{ task.category }}</div>
    {% endif %}

    {{ render_task(task, scope) }}
    {% set ns.prev_task = task %}
  {% endfor %}
  {# trailing whitespace for end of scope block #}
  <br /><br /><br />
  {% set ns.prev_scope = scope %}

</div> {# scope-container #}
{% endfor %}

{% endblock %}
