{% import "shared-macros.jinja" as shared_macros %}
{% import "task-macros.jinja" as task_macros %}

{% extends "base.html" %}



{% block head %}
{{ super() }}
<style type="text/css">
body {
  overflow-wrap: anywhere;
  word-break: break-word; /* Safari */
}
body > .spacer-下 {
  height: 640px;
}

.scope-container > .spacer-上 {
  height: 12px;
}
.scope-header-container {
  position: sticky;
  top: calc(var(--scope-nav-height));
  height: 33px; /* includes 1px border */
  z-index: 2;
  background-color: var(--default-bg-color);

  padding-left: var(--default-left-right-margin);
  padding-right: var(--default-left-right-margin);
  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: calc(32px - 8px - 12px);
}
.scope-container-post-spacer {
  height: 64px;
}
.scope-header {
  font-size: 24px;
  line-height: 24px;
  height: 25px; /* line height + 1px border */
  color: black;
  border-bottom: 1px solid dimgrey;
  padding-bottom: 8px;
}
.category-header {
  position: sticky;
  top: calc(var(--scope-nav-height)
    + 16px + 33px + 12px /* .scope-header and its -container */);
  z-index: 1;
  background-color: var(--default-bg-color);
  font-weight: 600;

  padding-left: var(--default-left-right-margin);
  padding-right: var(--default-left-right-margin);
  margin-top: calc(32px - 12px);
  padding-top: 12px;
  padding-bottom: 12px;
}

.task-only > .task-scope {
  flex-shrink: 0;
  padding-right: 0.8em;
  text-align: right;
}
.task-only > .task-desc {
  flex: 1 1 0;
  flex-grow: 1;
}
.task-scope {
  color: #bbb;
}
.task-time {
  color: brown;
}

.resolved, .resolved .task-scope, .resolved .task-time {
  color: var(--disabled-fg-color);
}


.task-json > div {
  white-space: pre-wrap;
  margin: 12px;
  padding: 12px;
  border: 1px solid rgba(29,28,29,.13);
  border-radius: 6px;
  background: var(--default-bg-color);
}

{{ shared_macros.note_edit_css('task', ['edit', 'json']) }}

{{ task_macros.task_edit_css }}
</style>



<script>
{{ shared_macros.note_edit_js|safe }}

{{ task_macros.task_edit_js|safe }}

</script>

{% endblock %}



{% macro _render_task_desc(t, resolution_to_print) %}

    {% if resolution_to_print %}
      <span class="task-resolution">({{ resolution_to_print }}) </span>
    {% endif %}

    {{ t.desc }}

    {% if t.time_estimate %}
      <span class="task-time">{{ "`{0}h`".format(t.time_estimate) }}</span>
    {% endif %}

{% endmacro %}



{% macro render_task(task, scope) %}
  {% set tabs = [('edit', task_macros.edit_block(task,
                              backlink="task-{}-{}".format(task.task_id, scope))),
                 ('json', "<div>{}</div>".format(task.as_json())),
                 ] %}
  {% set resolution_to_print =
         task.linkage_at(scope, create_if_none=False).resolution %}
  {{ shared_macros.render_with_tabs('task',
        item_styling="resolved" if resolution_to_print,
        unique_id="{}-{}".format(task.task_id, scope),
        desc=_render_task_desc(task, resolution_to_print),
        tabs=tabs) }}
{% endmacro %}



{% block content %}

{% set ns = namespace() %}
{% for scope, scope_tasks in tasks_by_scope.items() if scope_tasks %}
<div class="scope-container">
  <div class="spacer-上"></div>
  <div class="scope-header-container">
    <div class="scope-header">## {{ scope }}</div>
  </div>

  <div class="category-container">
  {% set ns.prev_task = None %}
  {% for task in scope_tasks %}
    {% if ns.prev_task and task.category != ns.prev_task.category %}
  </div>{# category-container #}
  <div class="category-container">
    {% endif %}

    {# if this is the start of a new category, print heading #}
    {% if task.category
       and not (ns.prev_task.category and task.category == ns.prev_task.category) %}
    <div class="category-header">### {{ task.category }}</div>
    {% endif %}

    {{ render_task(task, scope) }}
    {% set ns.prev_task = task %}
  {% endfor %}
  </div>{# category-container #}

</div>{# scope-container #}
<!-- this is _outside_ `.scope-container` because the sticky header shouldn't be on top of it -->
<div class="scope-container-post-spacer"></div>
{% endfor %}

<div class="spacer-下"></div>
{% endblock %}
