{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            margin-left: 7.5%;
            margin-right: 7.5%;
        }

        .task-id {
            color: #bbb;
        }

        .task-row, .task-row-final {
            display: flex;
            flow-direction: row;
            padding: 0.5em;
        }
        .task-row {
            border-bottom: 1pt solid #bbb;
        }
        .task-row div {
            .flex: 1 2 auto;
            padding-left: 1.3rem;
        }
        .task-row .label {
            min-width: 10em;
        }
    </style>
{% endblock %}



{% block content %}

<form method="POST">
    {{ task_form.hidden_tag() }}
    <div class="task-row">
        <div class="label">task_id</div>
        <div class="task-id">
            #{{task.task_id }}
            {% if json_link %}
            (<a href="{{ json_link }}">json</a>)
            {% endif %}
        </div>
    </div>
    <div class="task-row">
        <div class="label">desc</div>
        <div>
            {{ task.desc }}
            <hr />
            {{ task_form.desc() }}
        </div>
    </div>
    <div class="task-row">
        <div class="label">category</div>
        <div>
            {{ task.category }}
            <hr />
            {{ task_form.category() }}
        </div>
    </div>
    <div class="task-row">
        <div class="label">time_estimate</div>
        <div>
            {{ task.time_estimate }}
            <hr />
            {{ task_form.time_estimate() }}
        </div>
    </div>
    <div class="task-row-final">
        <div class="label"></div>
        <div>
            {{ task_form.submit() }}
        </div>
    </div>
</form>

{# add links to edit all the linkages #}
{% for linkage in task.linkages %}
<div><a href="#linkage">{{ linkage.to_json_dict() }}</a></div>
{% endfor %}

{% endblock %}
