{%- import "shared-macros.jinja" as shared_macros %}
{%- import "task-macros.jinja" as task_macros %}

{%- extends "base.html" %}



{%- block head %}
{{- super() }}

<title>/tasks</title>

<style type="text/css">
  :root {
    --tab-label-fg-color: hsl(212, 32%, 60%);
    --tab-selected-bg-color: hsl(210, 0%, 96%);
    --tab-selected-bg-color-dark-mode: #444;
    --tab-label-font-size: 12px;
    --tab-label-width: 48px;
    --task-future-fg-color: hsl(214, 40%, 65%);
    --task-resolved-fg-color: #bbb;
    --task-resolved-highlight-bg-color: var(--highlight-bg-color);

    --category-header-content: 18px;
    --category-header-padding: 12px;
    --category-header-total-height: calc(
        var(--category-header-padding)
        + var(--category-header-content)
        + var(--category-header-padding));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --task-resolved-fg-color: #222;
      --task-resolved-highlight-bg-color: #111;
    }
  }

  body {
    overflow-wrap: anywhere;
    word-break: break-word; /* Safari */
  }

  body > .spacer-下 {
    height: 640px;
  }

  {#- ================================================================= -#}

  .scope-container > .spacer-上 {
    height: 20px;
  }

  .scope-header-container {
    position: sticky;
    top: calc(var(--scope-nav-height));
    height: 33px; /* includes 1px border */
    z-index: 90;
    background-color: var(--default-bg-color);

    padding: 0;
    padding-left: var(--default-left-right-margin);
    padding-right: var(--default-left-right-margin);
  }

  .scope-header {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    color: var(--highlight-fg-color);

    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid dimgrey;
  }
  .scope-container-post-spacer {
    height: 64px;
  }

  .category-container.no-category {
    margin-top: 16px;
  }
  .category-header {
    position: sticky;
    top: var(--scope-nav-total-height);
    z-index: 80;
    background-color: var(--default-bg-color);

    font-size: var(--category-header-content);
    line-height: var(--category-header-content);
    font-weight: 600;

    /* TODO: If we need a line-break, this breaks */
    height: var(--category-header-content);
  
    padding-top: var(--category-header-padding);
    padding-right: var(--default-left-right-margin);
    padding-bottom: var(--category-header-padding);
    padding-left: var(--default-left-right-margin);
    margin-top: calc(32px - var(--category-header-padding));
  }

  {#- ================================================================= -#}

  .task-and-details {
    padding-left: var(--default-left-right-margin);
    padding-right: var(--default-left-right-margin);

    -webkit-transform: translate3d(0, 0, 0);
  }

  .task-and-details:hover {
    background: var(--default-hover-color);
  }

  .task-only {
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    padding-bottom: 8px;

    display: flex;
  }
  /* set the parent to be sticky, since .bonus-options is a sibling */
  label.toggle-edit {
    position: sticky;
    display: block;
    top: calc(var(--scope-nav-total-height) + var(--category-header-total-height));
    z-index: 70;
    background-color: var(--default-bg-color);
  }
  .task-and-details:hover label.toggle-edit {
    background-color: var(--default-hover-color);
  }
  /* change the spacing for sticky headers when no category */
  .no-category label.toggle-edit {
    top: 0;
  }

  .task-only > div {
    margin-right: 0.8em;
  }

  .task-only .scope {
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
    white-space: nowrap;
  }

  .task-only .desc {
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-size: 20px;
  }
  .task-only code {
    background-color: var(--highlight-bg-color);
    padding: 2px 4px 2px 4px;
    font-size: 16px;
    font-weight: 600;
  }
  .task-only a {
    text-decoration: underline;
  }

  {# this is for the markdown parser, which dumps <p>tags -#}
  .task-only p {
    display: inline;
    margin: 0;
  }

  .task-scope,
  .task-resolution {
    color: var(--task-resolved-fg-color);
    white-space: nowrap;
  }

  .task-time {
    color: brown;
    white-space: nowrap;
  }

  .resolved,
  .resolved .task-scope,
  .resolved .task-time {
    color: var(--task-resolved-fg-color);
  }
  .resolved code {
    background-color: var(--task-resolved-highlight-bg-color);
  }

  .future,
  .future .task-scope,
  .future .task-time {
    color: var(--task-future-fg-color);
  }

  {#- ================================================================= -#}

  .bonus-options {
    position: relative;
  }

  .task-json > div,
  .task-aio > div {
    white-space: pre-wrap;
    margin: 12px;
    padding: 12px;
    border: 1px solid rgba(29, 28, 29, .13);
    border-radius: 6px;
    background: var(--default-bg-color);
  }

  .bonus-options > label {
    height: 24px;
    line-height: 24px;
    font-size: var(--tab-label-font-size);

    position: absolute;
    top: -24px;
    color: var(--tab-label-fg-color);
    text-align: center;
    z-index: 71;
  }

  .bonus-options > label.show-edit {
    width: var(--tab-label-width);
    right: 0px;
  }

  .bonus-options > label.show-json {
    width: var(--tab-label-width);
    right: calc(var(--tab-label-width));
  }

  .bonus-options > label.show-aio {
    width: var(--tab-label-width);
    right: calc(2 * var(--tab-label-width));
  }

  .bonus-options > input {
    display: none;
  }

  /* highlight json/edit labels when selected */
  .task-json,
  .task-edit,
  .task-aio {
    background-color: var(--tab-selected-bg-color);
    padding: 0.5em;
    font-size: 80%;
  }

  @media (prefers-color-scheme: dark) {
    .task-json,
    .task-edit,
    .task-aio {
      /* TODO: regular property no longer works here for some reason */
      background-color: var(--tab-selected-bg-color-dark-mode);
    }
  }

  input.show-json:checked~label.show-json,
  input.show-edit:checked~label.show-edit,
  input.show-aio:checked~label.show-aio {
    background-color: var(--tab-selected-bg-color);
    border-bottom: 2px solid var(--tab-label-fg-color);
  }

  .task-json,
  .task-edit,
  .task-aio {
    display: none;
  }

  input.show-json:checked~.task-json,
  input.show-edit:checked~.task-edit,
  input.show-aio:checked~.task-aio {
    display: inherit;
  }

  /* hide json/edit labels when not-hovered + not-selected */
  .task-and-details label.show-json,
  .task-and-details label.show-edit,
  .task-and-details label.show-aio {
    display: none;
  }

  .task-and-details input.show-json:checked~label.show-json,
  .task-and-details input.show-edit:checked~label.show-edit,
  .task-and-details input.show-aio:checked~label.show-aio {
    display: inherit;
  }

  .task-and-details:hover label.show-json,
  .task-and-details:hover label.show-edit,
  .task-and-details:hover label.show-aio {
    display: inherit;
  }

  {#- ================================================================= -#}

  .task-add-panel {
    position: sticky;
    bottom: 0;
    background-color: var(--highlight-bg-color);
    z-index: 200;
  }

  {{- shared_macros.note_edit_css('task-add', ['add', ]) }}
  {{- task_macros.task_edit_css -}}
</style>

<script>
  {{- shared_macros.note_edit_js | safe }}
  {{- task_macros.task_edit_js | safe -}}
  
  function populate_add_panel() {
    // Populate the add_panel when it's shown
    const task_add_panel = document.querySelector(".task-add-panel");
    const add_checkbox = task_add_panel.querySelector("input.show-add");
  
    console.log(add_checkbox);
    add_checkbox.addEventListener('change', (e) => {
      tl_row = e.target.parentNode.querySelector(".linkage-row");
  
      /* generate target cell contents */
      generation_time = new Date();
      time_scope_str = toTimeScopeId(new Date(generation_time));
      created_at_str = generation_time.toISOString()
        .split('T').join(' ') // remove the ISO8601 'T'
        .split('Z')[0]; // and remove anything past the 'Z'
  
      /* TODO: overriding with a Pacific Time shift, be less hard-coded */
      time_scope_str = toTimeScopeId(new Date(
        generation_time.toLocaleString('en-US', { timeZone: "America/Los_Angeles" })));
  
      /* fill in target cells */
      time_scope_id = tl_row.querySelector('input[name="tl-new-blank-time_scope_id"]');
      if (time_scope_id && !time_scope_id.value)
        time_scope_id.value = time_scope_str;
  
      created_at = tl_row.querySelector('input[name="tl-new-blank-created_at"]');
      if (created_at && !created_at.value)
        created_at.value = created_at_str;
    });
  }
  
  document.addEventListener("DOMContentLoaded", populate_add_panel);
</script>

{%- endblock -%}



{#- ================================================================= -#}

{%- macro render_task(t, scope) %}
{%- set scope_to_print, resolution_to_print, is_future_task = compute_render_info_for(t) %}
<div class="task-and-details" id="task-{{t.task_id}}-{{scope}}">
  <label for="toggle-edit-{{t.task_id}}-{{scope}}" class="toggle-edit">
    <div class="task-only
      {%- if resolution_to_print %} resolved {% endif -%}
      {%- if is_future_task %} future {% endif -%}
    ">
      {%- if resolution_to_print %}
      <div class="task-resolution">({{ resolution_to_print }}) </div>
      {%- endif %}
      {%- if scope_to_print %}
      <div class="scope">{{ scope_to_print | safe }}</div>
      {%- endif %}
      <div class="desc">
        {{ t.desc | markdown | indent(6) }}
      </div>

      {%- if t.time_estimate and t.get_time_elapsed() %}
      <div class="task-time">{{ "`{:.1f} => {:.3f}h`".format(t.time_estimate, t.get_time_elapsed()) }}</div>
      {%- elif t.time_estimate %}
      <div class="task-time">{{ "`{:.1f}h`".format(t.time_estimate) }}</div>
      {%- elif t.get_time_elapsed() %}
      <div class="task-time">{{ "`=> {:.3f}h`".format(t.get_time_elapsed()) }}</div>
      {%- endif %}
    </div>
  </label>

  <div class="bonus-options">
    <input type="checkbox" id="toggle-aio-{{t.task_id}}-{{scope}}" class="show-aio">
    <label for="toggle-aio-{{t.task_id}}-{{scope}}" class="show-aio">
      <span>aio</span>
    </label>
    <div class="task-aio">
      <div>
        {{- to_aio(t) }}{# rip `| indent(6)` -#}
      </div>
    </div>

    <input type="checkbox" id="toggle-json-{{t.task_id}}-{{scope}}" class="show-json">
    <label for="toggle-json-{{t.task_id}}-{{scope}}" class="show-json">
      <span>json</span>
    </label>
    <div class="task-json">
      <div>
        {{- t.as_json() }}{# should be `| indent(6)` -#}
      </div>
    </div>

    <input type="checkbox" id="toggle-edit-{{t.task_id}}-{{scope}}" class="show-edit">
    <label for="toggle-edit-{{t.task_id}}-{{scope}}" class="show-edit">
      <span>edit</span>
    </label>
    <div class="task-edit">
      {{- task_macros.edit_block(t, backlink="task-{}-{}".format(t.task_id, scope)) }}
      {# should have been `| indent(6)` -#}
    </div><!-- .task-edit -->
  </div><!-- .bonus-options -->
</div><!-- .task-and-details -->

{% endmacro %}



{#- ================================================================= -#}

{%- macro render_add_panel() %}
<form action="{{url_for('tasks-v2-rest.create_task')}}" method="post">
  {{- task_macros.task_add_header() -}}

  <div class="linkage-block">
    {{ task_macros.linkage_header_row() }}
    {{ task_macros.linkage_row_new('new-blank', '', '', '') }}
    {{ task_macros.linkage_footer_row('create task') }}
  </div><!-- .linkage-block -->
</form>

{% endmacro %}

{% macro task_add_panel() %}
{%- set tabs = [('add', render_add_panel(), ''),
               ] %}
{{- shared_macros.render_with_tabs('task-add',
    desc='[add task]',
    tabs=tabs) }}

{%- endmacro -%}



{#- ================================================================= -#}

{%- block oldcontent -%}

{%- set ns = namespace() %}
{%- for scope, scope_tasks in tasks_by_scope.items() if scope_tasks %}
<div class="scope-container">
  <div class="spacer-上"></div>
  <div class="scope-header-container">
    <div class="scope-header">tasks, as of {{ scope.lengthen() }}</div>
  </div>

  {#- first div is always this one; sometimes it's empty, though #}
  <div class="category-container no-category">
  {%- set ns.prev_task = None %}
  {%- for task in scope_tasks %}

    {%- if (not ns.prev_task and task_category)
        or (ns.prev_task
            and not (task.category == ns.prev_task.category)) %}
  </div>{# category-container #}
  <div class="category-container">
      {#- if this is the start of a new category, print heading #}
      {%- if task.category %}
    <div class="category-header">### {{ task.category }}</div>
      {%- endif %}{# task.category #}
    {%- endif %}{# [started new category-container] #}

    {{- render_task(task, task.linkages[0].time_scope_id) }}
    {%- set ns.prev_task = task %}
  {%- endfor %}
  </div>{# category-container #}

</div>{# scope-container #}
<!-- this is _outside_ `.scope-container` because the sticky header shouldn't be on top of it -->
<div class="scope-container-post-spacer"></div>
{%- endfor -%}

<div class="spacer-下"></div>

<div class="task-add-panel">
  {{- task_add_panel() }}
</div>

{%- endblock %}{# oldcontent #}



{%- block content -%}

<div class="scope-container">
  <div class="spacer-上"></div>
  <div class="scope-header-container">
    <div class="scope-header">all tasks</div>
  </div>

{%- for domain, domain_tasks in tasks_by_domain.items() %}
  <div class="category-container 
    {%- if not domain %} no-category {% endif -%}
  ">
  {%- if domain %}
    <div class="category-header">### {{ domain }}</div>
  {%- endif %}{# domain #}

  {%- for task in domain_tasks %}
    {{- render_task(task, task.linkages[0].time_scope_id) }}
  {%- endfor %}

  </div>{# category-container #}
{%- endfor -%}
</div>{# scope-container #}

{%- endblock %}{# content #}

