{%- extends "notes/counts-simple.html" %}



{%- block head %}
{{- super() }}

<style type="text/css">
  :root {
    --count-full-bg-color: #e0e0e0;
    --count-future-bg-color: rgb(192, 240, 240);
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --count-full-bg-color: #222;
      --count-future-bg-color: #022;
    }
  }

  .weeks-table > .domain-ish {
    padding: 8px 32px 8px 16px;
    border-bottom: 1px solid silver;
    text-align: right;
  }

  .week-spacer {
    padding: 8px 0 8px 24px;
    border-bottom: 1px solid silver;
  }
  .full-count {
    background-color: var(--count-full-bg-color);
  }
  .future-count {
    background-color: var(--count-future-bg-color);
  }
  .day-count-filter-label {
    margin-left: 250px; 
  }
  .day-count-filter-label,
  .day-count-filter-label ~ .day-count {
    padding-top: 8px;
    padding-bottom: 8px;
  }
</style>
{%- endblock %}



{%- block content %}
{%- for quarter_scope in make_quarters() %}
  <div class="scope-container">
    <div class="spacer-上"></div>
    <div class="scope-header-container">
      <div class="scope-header">## {{ quarter_scope }}</div>
    </div>
  </div>

  <div class="weeks-table">
  {%- for domain_ish_label, domain_ish_counts in make_domain_week_counts(quarter_scope) %}
    <div class="domain-ish">{{ link_filter(quarter_scope, domain_ish_label) }}</div>
    {%- for week_scope, days_on in domain_ish_counts.items() %}
      {%- if days_on > 0 %}
    <div class="week-count week-count-{{days_on}}">{{ days_on }}</div>
      {%- elif days_on == 0 %}
    <div class="week-count blank-count {{
      "future-count" if is_future(week_scope) else ""
    }}">{{ days_on }}</div>
      {%- else %}
    <div></div>
      {%- endif %}
    {%- endfor %}{# domain_ish_counts #}
  {%- endfor %}{# make_domain_week_counts() #}
  </div>

  <div class="days-table">
  {%- for week_scope, day_counts_dict in make_day_counts(quarter_scope) %}
    {%- if should_make_week_headers(quarter_scope) %}
    <div class="week-spacer">{{ link_scope(week_scope) }}</div>

    <div class="week-spacer">{# Monday #}</div>
    <div class="week-spacer">{# Tuesday #}</div>
    <div class="week-spacer">{# Wednesday #}</div>
    <div class="week-spacer">{# Thursday #}</div>
    <div class="week-spacer">{# Friday #}</div>
    <div class="week-spacer">{# Saturday #}</div>
    <div class="week-spacer">{# Sunday #}</div>
    {%- endif %}

    {%- for filter, day_counts in day_counts_dict.items() %}
      {%- if should_make_week_headers(quarter_scope) %}
    <div class="day-count-label day-count-filter-label">{{ link_filter(week_scope, filter) }}</div>
      {%- else %}
    <div class="day-count-label">{{ link_scope(week_scope, as_short=quarter_scope) }}</div>
      {%- endif %}

      {%- for day_count in day_counts %}
        {%- if day_count > 0 %}
    <div class="day-count full-count">{{ day_count }}</div>
        {%- else %}
    <div class="day-count {{
      "future-count" if is_future(week_scope) else ""
    }}"></div>
        {%- endif %}
      {%- endfor %}{# day_counts #}
    {%- endfor %}{# day_counts_dict.items() #}

  {%- endfor %}{# make_counts(quarter_scope) #}
  </div>

{%- endfor %}
{%- endblock -%}
